# Makefiles, since we are using Cmake #
*Makefile
build
build_xcode
*.swp
*.desc
*.cmake
*CMakeFiles*
*.pb.cc
*.pb.h
*.a
*_pb2.py
*.pyc
CMakeCache.txt
.DS_Store
.Python
*moc_*.cxx*
debug
Testing
*~
*#
*xcdebugger*
*AdobeStock*
*xcuserdata*

GPATH
GRTAGS
GTAGS
.idea
venv
*.psd
models
*.ipynb_checkpoints*
*.egg-info
experiments
